    <div class="robot-index-element-image-wrapper">
      <a href="#/robots/<%= robot.id %>">
        <img src="assets/<%= robot.escape('image_url') %>"
            alt="Picture your robot here1!"
            class="robot-index-image">
      </a>
    </div>

    <div class='robot-index-element-details row'>
      <div class='col-sm-6'>
        <left><a href="#/robots/<%= robot.id %>"><%= robot.escape('name') %></a>, by <%= robot.escape('manufacturer') %></left><br>
        <left><%= robot.escape('robot_type') %></left>
      </div>

      <div class='col-sm-3'>
      </div>

      <div class='col-sm-3 video-button'>
        <button type="button" class="btn btn-default btn-sm btn-video">
          Video  <span class="glyphicon glyphicon-hd-video"></span>
        </button>
      </div>



      <br>

      <a href="#/robot/<%=robot.escape("id")%>">
        <div class="overlay-price-text">
          <div class="overlay-price-box">
            <div class="overlay-price-symbol">$</div><h2 class="overlay-price-value"><%=robot.escape('price')%></h2>
          </div>
        </div>
      </a>

    </div>
