

<!-- <div row>
  <h7 row><center>Robot Item</center></h7>
</div> -->

<div class='robot_index_element_div row'>
    <div class="robot_index_element_image_div col-sm-12">
      <a href="#/robots/<%= robot.id %>">
        <img src="assets/<%= robot.escape('image_url') %>"
            height=200px
            alt="Picture your robot here1!"
            class="splash_image col-sm-12">
      </a>
    </div>
    <div class='robot_image_caption col-sm-12'>
      <center><%= robot.escape('name') %></center>
      <!-- robot id: <%= robot.id %> -->
    </div>

  <!-- <div class="robot_index_element_details_div col-sm-6">
    <% for (var attr in robot.attributes) { %>
        <% if (attr === "created_at" || attr === "updated_at") continue; %>
        <span style="font-weight: bold;"><%= attr %>:</span>
        <%= robot.get(attr) %>
      <br>
    <% } %>
  </div> -->

</div>
