    <div class='robot-index-element-caption'>
      <center><%= robot.escape('name') %></center>
    </div>

    <div class="robot-index-element-image-wrapper">
      <a href="#/robots/<%= robot.id %>">
        <img src="assets/<%= robot.escape('image_url') %>"
            alt="Picture your robot here1!"
            class="robot-index-image">
      </a>
    </div>

    <div class='robot-index-element-details'>
      <left>Location: <%= robot.escape('location') %></left><br>
      <left>Manufacturer: <%= robot.escape('manufacturer') %></left><br>
      <left>Price ($USD): <%= robot.escape('price') %></left><br>
      <left>Type: <%= robot.escape('robot_type') %></left>
    </div>
