<!DOCTYPE html>
<html>
<head>
  <title>Rent My Robot</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
<% if Rails.env.production? %>

  <% api_key = "key=AIzaSyB_aC8JqmlssmyTiC0m3d9z1rlRZoDKm2I" %>
<% else %>
  <% api_key = '' %>
<% end %>

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?<%= api_key %>"></script>


  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: "layouts/header" %>
  <%= yield %>
</body>
</html>
